services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run build
    ports:
      - 3000:3000
    environment:
      DANGEROUSLY_DISABLE_HOST_CHECK: 'true'

  backend:
    build: ./backend
    ports:
      - 5000:80
    command: npm run start
    volumes:
      - ./backend:/backend
      - /backend/node_modules
      - ./frontend/build:/backend/public
    depends_on:
      - frontend
    environment:
      APP_BASE_URL:
      DB_HOST:
      DB_NAME:
      DB_PASSWORD:
      DB_USERNAME:
      FLOOR_GYM_PRICE_AFTER_4:
      FLOOR_GYM_PRICE_BEFORE_4:
      GRYNOS_COURSE_API_URL:
      GRYNOS_COURSE_DETAILS_API_URL:
      GRYNOS_COURSES_UPDATE_INTERVAL:
      MERCHANT_ID:
      MERCHANT_KEY:
      PAYMENT_CODE:
      POOL_WATER_PRICE_AFTER_4:
      POOL_WATER_PRICE_BEFORE_4:
      USE_MOCK_DATA: 0
      PORT: 80
      TELIA_PASSWORD:
      TELIA_USERNAME:
      TELIA_USER:
