volumes:
  frontend_build:

services:
  frontend:
    build: ./frontend
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
      - frontend_build:/frontend/build
    entrypoint: ["/bin/sh", "-c"]
    command: ["npm ci && npm run build"]

  backend:
    depends_on:
      frontend:
        condition: service_started
    build: ./backend
    volumes:
      - ./backend:/backend
      - /backend/node_modules
      - frontend_build:/backend/public:ro
    entrypoint: ["/bin/sh", "-c"]
    command: ["npm ci && npm run start"]
    environment:
      APP_BASE_URL:
      DB_HOST:
      DB_NAME:
      DB_PASSWORD:
      DB_USERNAME:
      FLOOR_GYM_PRICE_AFTER_4:
      FLOOR_GYM_PRICE_BEFORE_4:
      GRYNOS_COURSE_API_URL:
      GRYNOS_COURSE_DETAILS_API_URL:
      GRYNOS_COURSES_UPDATE_INTERVAL:
      MERCHANT_ID:
      MERCHANT_KEY:
      PAYMENT_CODE:
      POOL_WATER_PRICE_AFTER_4:
      POOL_WATER_PRICE_BEFORE_4:
      USE_MOCK_DATA: 0
      # Note that AWS Elastic Beanstalk omits ports mapping and expects the app to listen at the port 5000 by default.
      PORT: 5000
      TELIA_PASSWORD:
      TELIA_USERNAME:
      TELIA_USER:
      VAT_PERCENTAGE:
