services:
  liikuntaliput:
    ports:
      - 5000:5000
    build:
      context: ./
      dockerfile: Dockerfile
    image: liikuntaliput/latest
    environment:
      APP_BASE_URL:
      DB_HOST:
      DB_NAME:
      DB_PASSWORD:
      DB_USERNAME:
      FLOOR_GYM_PRICE_AFTER_4:
      FLOOR_GYM_PRICE_BEFORE_4:
      GRYNOS_COURSE_API_URL:
      GRYNOS_COURSE_DETAILS_API_URL:
      GRYNOS_COURSES_UPDATE_INTERVAL:
      MERCHANT_ID:
      MERCHANT_KEY:
      PAYMENT_CODE:
      POOL_WATER_PRICE_AFTER_4:
      POOL_WATER_PRICE_BEFORE_4:
      PORT:
      TELIA_PASSWORD:
      TELIA_USERNAME:
      TELIA_USER:
      VAT_PERCENTAGE:
